In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [19]:
#Player Count
num_players = purchase_data.copy() #creates a DF that only has one occurance of each player, have to make sure to use .copy() 
num_players.drop_duplicates(subset ="SN", #if you don't use .copy() changing the dataframe changes the original purchase_data df
                     keep = "first", inplace = True) 

playercount = len(num_players) #now that duplicate playernames have been removed, find the number of players from # entries
playercountDF = pd.DataFrame({ #create a dataframe to display this data in the preferred format
    "Total Players": [playercount]}
) 
playercountDF.head() #Display total number of players

   Total Players
0            576

In [11]:
#Purchase Analytics (total group)
num_items = purchase_data.copy() 
num_items.drop_duplicates(subset ="Item ID", 
                     keep = "first", inplace = True) #creates a data frame that only has unique items in it for some calculations
summaryDF = pd.DataFrame({
    "Number of Unique Items": [len(num_items)],
    "Average Price": [purchase_data["Price"].mean()],
    "Total Purchases": [len(purchase_data)],
    "Total Revenue": [purchase_data["Price"].sum()]}
) 
summaryDF["Average Price"] = summaryDF["Average Price"].map("${:.2f}".format) #format and display money values as money
summaryDF["Total Revenue"] = summaryDF["Total Revenue"].map("${:.2f}".format)
summaryDF.head()

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $3.05              780      $2379.77

In [12]:
#Gender Demographics
counts = num_players["Gender"].value_counts().tolist() #gets the counts of each gender from the gender column 
percentages = (num_players["Gender"].value_counts()/playercount * 100).tolist()
values = num_players["Gender"].value_counts().keys().tolist() #creates a list of each gender, such as 'male'
genderPercentage = pd.DataFrame({
    "Count": counts,
    "Percentage": percentages},
    index= values #label the data displayed by the gender
)
genderPercentage.index.name = "Gender" #label the index column properly
genderPercentage["Percentage"] = genderPercentage["Percentage"].map("{:.2f}%".format) #format the percentages as a percent
genderPercentage.head()

                       Count Percentage
Gender
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Purchasing Analysis by Gender
purchasecount = purchase_data["Gender"].value_counts().tolist() #now we need all the purchases made by anyone of any gender, not just the number of players of a gender
averagePriceByGender = purchase_data.groupby("Gender")["Price"].mean() #average spent by each gender
totalPriceByGender = purchase_data.groupby("Gender")["Price"].sum() #total spent by each gender

reorder = [1, 0, 2] 
countsReordered = [counts[i] for i in reorder] #have to swap the order around so the following division works
#since counts is a list without the keys 'male', 'female' etc telling it which is which have to match it to the right one
#when grouping by gender results in female being the first category (alphabetical), not male like value_counts resulted in

averagePriceByPerson = (totalPriceByGender / countsReordered )

genderSummaryDF = pd.DataFrame({ 
    "Purchase Count": purchasecount, 
    "Average Purchase Price": averagePriceByGender, 
    "Total Purchase Value": totalPriceByGender,
    "Avg Total Purchase per Person": averagePriceByPerson},
    index= values
) 
genderSummaryDF.index.name = "Gender" 
genderSummaryDF["Average Purchase Price"] = genderSummaryDF["Average Purchase Price"].map("${:.2f}".format) 
genderSummaryDF["Total Purchase Value"] = genderSummaryDF["Total Purchase Value"].map("${:.2f}".format)
genderSummaryDF["Avg Total Purchase per Person"] = genderSummaryDF["Avg Total Purchase per Person"].map("${:.2f}".format)
genderSummaryDF.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [14]:
#Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 200] #200 is just used to make absolutely sure we get everyone over 40 years old 
#into the 40+ category, but it's overkill since our dataset's largest age is 45. Could always have a different dataset though

# Create labels for the bins
group_labelsAGE = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

ageDF = num_players.copy() #we want to only count each player once for determining demographics like this

ageDF["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labelsAGE)
ageGroup = ageDF.groupby("Age Group")

ageDFSummary = pd.DataFrame({ 
    "Total Count": ageGroup["SN"].count(), 
    "Percentage of Players": ageGroup["SN"].count()/playercount * 100},
    index= group_labelsAGE
) 
ageDFSummary.index.name = "Age Range" #set the index column to be named descriptively
ageDFSummary["Percentage of Players"] = ageDFSummary["Percentage of Players"].map("{:.2f}%".format) #format percentages as a percent
ageDFSummary.head(20) #have to use a number bigger than the default .head() which would only show five rows

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [15]:
#Purchasing Analysis by Age
#now we want to take into account every purchase and not only count players once, so we should create a new DF from purchase_data instead
agePurchaseDF = purchase_data.copy()
agePurchaseDF["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labelsAGE)
agePurchaseGroup = agePurchaseDF.groupby("Age Group")

agePurchaseDFSummary = pd.DataFrame({ 
    "Purchase Count": agePurchaseGroup["SN"].count(), 
    "Average Purchase Price": agePurchaseGroup["Price"].mean(),
    "Total Purchase Value": agePurchaseGroup["Price"].sum(),
    "Avg Total Purchase per Person": (agePurchaseGroup["Price"].sum() / ageGroup["SN"].count())}, 
    #avg per person is tricky because you have to use the DF with all the purchases for one part of the calculation, one with only one occurance per person for the other
    index= group_labelsAGE
) 
agePurchaseDFSummary.index.name = "Age Range" 
#format dollar values as dollars
agePurchaseDFSummary["Average Purchase Price"] = agePurchaseDFSummary["Average Purchase Price"].map("${:.2f}".format)
agePurchaseDFSummary["Total Purchase Value"] = agePurchaseDFSummary["Total Purchase Value"].map("${:.2f}".format)
agePurchaseDFSummary["Avg Total Purchase per Person"] = agePurchaseDFSummary["Avg Total Purchase per Person"].map("${:.2f}".format)
agePurchaseDFSummary.head(20)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [16]:
#Top Spenders
topSpendersGroup = purchase_data.groupby("SN") 
topSpendersDF = pd.DataFrame({ 
    "Purchase Count": topSpendersGroup["Age"].count(), 
    "Average Purchase Price": topSpendersGroup["Price"].mean(),
    "Total Purchase Value": topSpendersGroup["Price"].sum()},
#no need to set index as it's already grouped by SN
)

#sort the resulting dataframe so that we display the top spenders first
topSpendersDF = topSpendersDF.sort_values("Total Purchase Value",ascending = False) 
topSpendersDF ["Average Purchase Price"] = topSpendersDF ["Average Purchase Price"].map("${:.2f}".format) #money formatted as money
topSpendersDF ["Total Purchase Value"] = topSpendersDF ["Total Purchase Value"].map("${:.2f}".format)
topSpendersDF.head() #only display the top 5 spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [17]:
#Most Popular Items
topItemsGroup = purchase_data.groupby(["Item ID","Item Name"])
purchase_data.columns

topItemsDF = pd.DataFrame({ 
    "Purchase Count": topItemsGroup["Age"].count(), 
    "Item Price": topItemsGroup["Price"].sum() / topItemsGroup["Age"].count(),#purchase_data["Price"],
    "Total Purchase Value": topItemsGroup["Price"].sum()},
    #Item ID/Item name are already the index because of the groupby
)
topItemsProfitDF = topItemsDF.copy() #this is for the next section - have to copy the dataframe before 
#values are formatted so that it can be properly sorted by the monetary sections (which become strings when formatted)
    
topItemsDF["Item Price"] = topItemsDF["Item Price"].map("${:.2f}".format) #format money as money
topItemsDF["Total Purchase Value"] = topItemsDF["Total Purchase Value"].map("${:.2f}".format)


topItemsDF = topItemsDF.sort_values("Purchase Count",ascending = False) #sort to display most popular items
topItemsDF.head() #display only the top 5 items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [18]:
#Most Profitable Items
#Sort the dataframe we already created in the last section
topItemsProfitDF = topItemsProfitDF.sort_values("Total Purchase Value",ascending = False) 
topItemsProfitDF ["Item Price"] = topItemsProfitDF ["Item Price"].map("${:.2f}".format) #format money as money
topItemsProfitDF ["Total Purchase Value"] = topItemsProfitDF ["Total Purchase Value"].map("${:.2f}".format)
topItemsProfitDF.head()#display top 5 most profitable items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80